{
  "afterWrite": [
    {
      "pattern": "**/*.yml",
      "run": "orchestra-cli validate ${file}"
    },
    {
      "pattern": "**/*.yaml",
      "run": "orchestra-cli validate ${file}"
    }
  ]
}
